{
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "printWidth": 80,
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}